.quiz-option {
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quiz-option:hover {
  background-color: var(--secondary);
  color: var(--dark);
}

.quiz-option--selected {
  background-color: var(--primary);
  color: white;
}
